.collection-list {
  margin: auto;
  width: 90vw;
}

.previews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 90vw;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
}
