.collection-list {
  margin: auto;
  width: 90vw;
}

.previews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 90vw;
  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  @media (max-width: 800px) {
    text-align: center;
  }
}
