.menu-list {
  height: 800px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
    "item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5";
  grid-gap: 1.5rem;
}
