.cart-icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  .shopping-card {
    margin-top: -3px;
    width: 30px;
    height: 30px;
  }
  .item-count {
    position: absolute;
    font-size: 0.8rem;
    top: 7px;
  }
}
